body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

 
#product-overview {
    background: url('freedom.jpg');
    /* background: #ff1b68; */
    width: 100%;
    height: 528px;
    padding: 5px;
}

.plan {
    display: inline-block;
    padding: 16px;
    margin: 8px;
    background: #d5ffdc;
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header{
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header__host {
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: #0e4f1f;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
    
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a.active {
    color: #521751;
}

.main-section {
    height: 800px;
    border: 1px solid #ccc;
    padding: 16px;
}

.highlighted {
    border: 2px solid #fa923f;
}