/* wrap line => alt + z */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    text-align: center;
}

nav{
    border: 2px solid grey;
    font-size: 2rem;
    border-radius: 1em;
    /* overflow: hidden; */
    line-height: 6rem;
    max-width: 600px;
    margin: 0.5rem auto 1rem;
}

h2 {
    background: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;
    
}

li {
    border-top: 2px solid black;
   
}

li a{
    display: block
}


li a, li a:checked {
    text-decoration: none;
    color: grey;
}

li a:hover, 
li a:focus {
    background: grey;
    color: white;
    cursor: pointer;
}

li:last-child a{
    border-radius: 0 0 1.5rem 1.5rem;
}
