@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    /* margin: 20px auto; */
    border: 1px solid #000;
    /* padding: 50px; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* shorthand */
    flex-flow: row wrap;
    align-content: space-evenly;
}

.box{
    height: 100px;
    min-width: 100px;
    background-color: black;
    color: white; 
    font-size: 2rem;
    padding: 0.5rem;

    /* making each item as flex container as it owns 
    putting number in middle */
    display: flex;
    justify-content: center;
    align-items: center;

    /*  2=> grow 3=> shrink 40% =>basis  */
    flex: 1 1 150px;
}

.box:nth-child(2){
    flex: 2 2 150px;
}